
.save{
    width: 152px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: var(--orange);
    cursor: pointer;
    color: #FFF;
    font-family: var(--roboto);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.8px;
}

.save:hover{
    background-color: var(--orange-hover);
}

.save img {
    width: 16px;
    object-fit: contain;
}

@media(max-width: 570px){
    .save{
        width: 40px;
        height: 40px;
    }

}