.container{
    display: flex;

}

.editor{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.editor_title, .preview_title{
    height: 42px;
    background-color: var(--200, #F5F5F5);
    color: var(--500, #7C8187);
    font-family: var(--roboto);
    text-transform: uppercase;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    padding-left: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.editor_textarea{
    height: 100%;
    padding: 9px 16px;
    border: none;
    resize: none;
    color: var(--700, #35393F);
    font-family: var(--roboto-mono);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.editor_textarea:focus{
    outline: none;
}

.preview{
    width: 50%;
}

.preview h1:not(.preview_title){
    color: var(--700, #35393F);
    font-family: var(--roboto-slab);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 21px;
}

.preview h2 {
    color: var(--700, #35393F);
    font-family: var(--roboto-slab);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}

.preview h3{
    color: var(--700, #35393F);
    font-family: var(--roboto-slab);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.preview p{
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 21px;
}

.preview ol, .preview ul{
    display: flex;
    flex-direction: column;
    gap: 4px;   
    margin-bottom: 20px;     
}

.preview ol{
    margin-left: 40px;
}

.preview ul{
    margin-left: 32px;
}


.preview ol li{
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-left: 9px;
}

.preview ul{
    list-style-type: none;
}

.preview ul li {
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-left: 16px;
    position: relative;
}

.preview ul li::before{
    content: url('./icons/Oval\ 2.svg');
    width: 3px;
    height: 3px;
    position: absolute;
    left: -3px;
    top: 0px;
    bottom: 40px;
    margin: auto;
}

