.editor, .preview {
    display: flex;
    flex-direction: column;
}

.editor_title, .preview_title{
    text-transform: uppercase;
    width: 100%;
    height: 42px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--500, #7C8187);
    background-color: var(--200, #F5F5F5);
    font-family: var(--roboto);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
}

.editor_textarea{
    height: 87.4725274725vh;  
    padding: 16px;
    border: none;
    resize: none;
    color: var(--700, #35393F);
    font-family: var(--roboto-mono);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    overflow-y: auto;
}

.editor_textarea:focus{
    outline: none;
}

.preview div {
    padding: 23px;
    height: 87.4725274725vh;
    overflow-y: auto;
}

.previewShowIcon, .previewHideIcon{
    cursor: pointer;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: var(--500, #7C8187);
}

.previewHideIcon:hover, .previewShowIcon:hover{
    background-color: var(--Orange, #E46643);
}


.previewShowIcon{
    width: 16px;
    height: 11.2px;
    mask-image: url('./icons/icon-show-preview.svg');
    -webkit-mask-image: url('./icons/icon-show-preview.svg');
}

.previewHideIcon {
    width: 16px;
    height: 11.2px;
    mask-image: url('./icons/icon-hide-preview.svg');
    -webkit-mask-image: url('./icons/icon-hide-preview.svg');
}




.preview h1:not(.preview_title), 
.preview h2, .preview h3, 
.preview h4, .preview h5 {
    color: var(--700, #35393F);
    font-family: var(--roboto-slab);
}

.preview h1:not(.preview_title){
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 21px;
}

.preview h2 {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.preview h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.preview h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.preview h5{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.preview h6{
    color: var(--Orange, #E46643);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 21px;
}

.preview p:not(blockquote p){
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 21px;
}

.preview ol, .preview ul{
    display: flex;
    flex-direction: column;
    gap: 4px;   
    margin-bottom: 20px;     
}

.preview ol{
    margin-left: 40px;
}

.preview ul{
    margin-left: 32px;
}


.preview ol li{
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-left: 9px;
}

.preview ul{
    list-style-type: none;
}

.preview ul li {
    color: var(--500, #7C8187);
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-left: 16px;
    position: relative;
}

.preview ul li::before{
    content: url('./icons/Oval\ 2.svg');
    width: 3px;
    height: 3px;
    position: absolute;
    left: -3px;
    top: 0px;
    bottom: 40px;
    margin: auto;
}


.preview blockquote {
    border-left: 4px solid var(--orange);
    border-radius: 4px;
    padding: 24px;
    background-color: var(--200, #F5F5F5);
    margin-bottom: 20px;
}

.preview blockquote p, .preview a {
    color: #35393F;    
    font-family: var(--roboto-slab);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}

.preview a {
    text-decoration: underline;
}


.preview pre {
    white-space: pre-wrap;
    padding: 24px;
    border-radius: 4px;
    background: var(--200, #F5F5F5);
    margin-bottom: 20px;
}

.preview code{
    width: 100%;
    color: var(--700, #35393F);
    font-family: var(--roboto-mono);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}