@font-face {
    font-family: 'roboto';
    src: url('./Assets/Fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url('./Assets/Fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('./Assets/Fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'roboto slab';
    src: url('./Assets/Fonts/RobotoSlab-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto slab';
    src: url('./Assets/Fonts/RobotoSlab-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'roboto slab';
    src: url('./Assets/Fonts/RobotoSlab-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'roboto mono';
    src: url('./Assets/Fonts/RobotoMono-Regular.ttf');
    font-weight: 400;
}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: col-resize;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

:root{
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 0;
    --roboto: 'roboto';
    --roboto-slab: 'roboto slab';
    --roboto-mono: 'roboto mono';
    --900: #1D1F22;      
    --800: #2B2D31;
    --700: #35393F;    
    --600: #5A6069;   
    --500: #7C8187;
    --200: #F5F5F5; 
    --100: #FFF;
    --orange: #E46643;
    --orange-hover: #F39765;
}

*{
    box-sizing: border-box;
    transition: all 0.2s linear, opacity 0s;
    margin: 0px;
    padding: 0px;
}


html, body, #root{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}